* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

body.loading {
    cursor: wait;
}

/* Header */
header {
    width: 100%;
    background-color: #4CB551;
    color: white;
}

/* Đường kẻ ngang trong Header */
.divider {
    border: 0;
    border-top: 1px solid #026464;
}

.dividers {
    border: 0;
    border-top: 1px solid #4CB551;
    margin: 0 5%;
}

.nav-menu {
    width: 72%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-menu ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
    padding-right: 0.8rem;
}

.nav-menu a:hover {
    color: #246A2C;
}

/* Authentication Button */
.auth-button button {
    background-color: #309C3E;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button button:hover {
    background-color: #246A2C;
}

.top-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2%;
    width: 72%;
    margin: 0 auto;
}

/* Search Container */
.search-container {
    position: relative;
    width: 72%;
    height: 50vh; /* Đặt chiều cao theo màn hình */
    margin: 20px auto;
    border-radius: 20px;
}

.search-container img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Search Section */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-bar select,
.search-bar input,
.search-bar button {
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    width: 250px;
    height: 60px;
}

.search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 150px;
}

/* Features Section */
.features {
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    padding: 30px 0;
    background-color: #F9F9F9;
    border-radius: 30px;
    text-align: center;
}

.feature {
    width: 30%; /* Chiều rộng mỗi feature */
    margin: 10px 0;
}

.feature img {
    width: 100%;
    max-width: 140px;
    height: auto;
}

.feature p {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
}

.feature span {
    font-size: 1rem;
}

.registration {
    width: 72%;
    margin: 30px auto;
    margin-top: 10px;
    padding: 30px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration h2 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px; /* Kích thước chữ cố định */
    line-height: 30px; /* Chiều cao dòng */
}

.registration .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.registration input,
.registration button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 12px; /* Kích thước chữ cố định */
}

.registration button {
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 133px;
    height: 45px;
    color: white;
    background-color: #3F9C4B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-size: 12px; /* Kích thước chữ cố định */
}

.registration button:hover {
    background-color: #246A2C;
    color: white;
}

/* Footer */
footer {
    background-color: #2e7d32;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 24px;

}

.footer-section p {
    margin-bottom: 10px;
    font-size: 16px;
    padding-top: 35px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    padding-top: 35px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section button {
    background-color: #309C3E;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 20px;
    cursor: pointer;
    width: 536px;
    height: 103px;
    font-size: 16px;
}

.footer-section a:hover {
    color: black;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.banner img {
    border-radius: 20px;
    width: 72%;
    height: 140px;
    object-fit: cover;
}


