/* Đổi màu cho các nút phân trang */
.pagination .page-item .page-link {
    color: black; /* Màu chữ */
    background-color: #FFFFFF; /* Màu nền */
    border-color: #14532D; /* Màu viền */
}

/* Đổi màu cho nút đang được chọn */
.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #14532D; /* Màu nền */
    border-color: #14532D;
}

/* Hover cho các nút */
.pagination .page-item .page-link:hover {
    border-color: #0056b3;
    color: #FFFFFF;
    background-color: #008347;
}

.dropdown{
    position: static;
}
